.Cart
{
    width:inherit;
}
.text
{
    padding-top: 200px;
}
.Cart_empty
{
margin-left: 30%;
}
@media (min-width: 411px) and (max-width: 767.98px) { 
    .Cart_empty
    {
    margin-left: 0%;
    } 
}
.Empty_cart
{
margin-left:10%;
}
.Thank_you_img
{
    width:600px;
    height:200px;
    margin-left: 25%;
    margin-top:50px;
}
.cols
{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    box-shadow:3px 3px 5px 6px #ccc;
    margin: 10px; 
}
.row
{
    display: flex;
    justify-content: center;
}