.Cart
{
    width:inherit;
    height:auto;
}
.Cart_empty
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:100px;
    justify-content: center;
    align-content:center ;
}
.Empty_cart
{
width:200px;
height: 200px;
margin-left:40%;
}
.Thank_you_img
{
    width:600px;
    height:200px;
    margin-left: 25%;
    margin-top:50px;
}
.cols
{
    margin-left: 5px;
    display: flex;
    justify-content: center;
    margin-left: 2vw;
    box-shadow:3px 3px 5px 6px #ccc;
    margin: 10px; 
}
.row
{
    display: flex;
    justify-content: center;
}