.product_layout
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.dummy
{
    width: 0;
    height: 0;
    color: white;
}
.product_details_layout
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.product_image
{
    width:200px;
    height:200px;
    object-fit: contain;
    object-position: center;
}
.Product_btn
{
    width:200px;
    border-style: none;
    background-color:black;
    padding:10px;
    color: white;
}
.Product_btn:hover
{
    background-color:white;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.links
{
    color:black;
}
.links:hover
{
    color: black;
    text-decoration: none;
}